
/* GLOBAL & MAIN STYLES */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    border-radius: 2px;
    background: #636B73;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #6093B1;
    border-radius: 2px;
}

body {
    font-family: "Inter", serif;
    background: linear-gradient(to bottom, #636B73 1%, #BABBC5 99%);
}

.dashboard {
    display: flex;
    height: 100vh;
}


/* SIDEBAR */

.sidebar {
    width: 260px;
    height: 100vh;
    background: linear-gradient(to bottom, #636B73 1%, #BABBC5 99%);
    box-shadow: 5px 0 10px rgba(99, 107, 115, 0.2);
    border-right: 1px solid #636B73;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    position: relative;
    z-index: 10;
    padding: 15px;
    font-size: 12px;
}

.sidebar.closed {
    width: 70px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#sidebar-close {
    position: absolute;
    right: -1em;
    top: calc(45px - 1.5em);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6093B1;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: #ffffff;
}

.sidebar-nav {
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar-nav ul {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 3.2em;
    padding: .8em;
    border-radius: 8px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-link {
    margin-bottom: .5em;
}

.nav-link:hover {
    background-color: #6093B1;
    color: #ffffff;
}

.active {
    background-color: #6093B1;
    color: #ffffff;
}

.active .count {
    background: #ffffff;
    color: #000;
}

.nav-link:hover .count {
    background: #ffffff;
    color: #000;
}

.nav-link span {
    margin-left: 10px;
    margin-right: auto;
}

.nav-link i {
    font-size: 1.2em;
}

.count {
    background-color: #6093B1;
    color: #ffffff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 0.8em;
    margin-right: 0 !important;
}

.submenu-arrow {
    font-size: 1.5em !important;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.submenu-arrow.open {
    transform: rotate(180deg);
}

.has-submenu {
    margin-bottom: 0;
}

.submenu {
    margin-top: 5px;
    margin-left: 15px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.submenu.open {
    margin-bottom: 5px;
    max-height: 1000px;
    opacity: 1;
}

.submenu li {
    position: relative;
    padding-left: 15px;
}

.submenu li span {
    margin-left: 0;
}

.submenu li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #000;
}

.submenu li:last-child::before {
    height: 50%;
}

.submenu li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 6px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 10px;
    transform: translateY(-50%);
}

.sidebar-footer {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #636B73;
    border-radius: 8px;
    height: 3.2em;
    padding: .2em;
    gap: .2em;
}

.theme-toggle {
    font-size: 12px;
    background: transparent;
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.theme-toggle.active {
    background: #6093B1;
}

.theme-toggle i {
    font-size: 16px;
    margin-right: 5px;
}

.sidebar.closed .sidebar-nav span,
.sidebar.closed .sidebar-footer span,
.sidebar.closed .count {
    display: none;
}

.sidebar.closed .has-submenu {
    margin-bottom: .5em;
}

.sidebar.closed .nav-link {
    justify-content: center;
}

.sidebar.closed .submenu {
    display: none;
}

.sidebar.closed .sidebar-footer {
    overflow: hidden !important;
}

.sidebar.closed .theme-toggle {
    display: none;
}

.sidebar.closed .theme-toggle.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar.closed .theme-toggle.active i {
    margin: 0;
}

.floating-submenu {
    border-radius: 12px;
    position: fixed;
    left: 15px;
    top: 150px;
    background: linear-gradient(to bottom, #636B73 1%, #BABBC5 99%);
    box-shadow: 5px 10px 10px 10px rgba(99, 107, 115, 0.2);
    z-index: 10;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease-out, opacity .3s ease-out, top .3s ease-out;
}

.floating-submenu.works {
    top: 180px;
}

.floating-submenu.profile {
    top: 270px;
}

.mt-works {
    margin-top: 115px;
}

.floating-submenu ul {
    list-style: none;
    font-size: 12px;
}

.floating-submenu li {
    border-radius: 8px;
    transition: background-color 0.3s;
}

.floating-submenu.active {
    max-height: 1000px;
    opacity: 1;
}

.floating-submenu .submenu {
    margin-left: 0;
    max-height: none;
    width: 230px;
    padding: 10px 20px;
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {

    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        padding: 0;
        z-index: 1000;
    }

    .sidebar-header,
    .sidebar-footer,
    #sidebar-close {
        display: none;
    }

    .sidebar-nav {
        height: 100%;
        width: 100vw;
        padding: 0;
    }

    /* .sidebar-nav::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 10px;
        background: #ffffff;
        filter: blur(2px);
        z-index: -1;
    } */

    .sidebar-nav > ul {
        background: #ffffff;
        height: 100%;
        width: 100vw;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .sidebar-nav>ul>li {
        flex: 1;
    }

    .nav-link {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: .8em;
    }

    .nav-link.active {
        background: transparent;
        color: #000;
    }

    .nav-link.active i {
        position: absolute;
        top: -12px;
        background: #6093B1;
        padding: .6em;
        border-radius: 50%;
    }

    .nav-link.active span {
        margin-top: 28px;
        color: #6093B1;
        font-weight: 600;
    }

    .nav-link span {
        text-align: center;
        margin: 0;
    }

    .nav-link:hover {
        background-color: #ffffff;
        color: #000;
    }

    #sidebarLinkSearch,
    #sidebarLinkWorks,
    #sidebarLinkFavorites,
    #sidebarLinkProfile {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submenu-arrow {
        display: none;
    }

    .nav-link i {
        margin: 0 0 4px 0;
        font-size: 2em;
    }

    .count {
        display: none;
    }

    .floating-submenu {
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        max-height: 80vh;
        border-radius: 12px;
        padding: 20px;
    }

    .floating-submenu .submenu {
        width: 100%;
    }

    .floating-submenu .submenu .nav-link {
        align-items: start;
        padding-left: 10px;
    }

    .floating-submenu .submenu {
        margin: 0;
        padding: 10px;
    }

    .sidebar.closed {
        width: 100%;
    }

    .sidebar.closed .nav-link span {
        display: block;
        font-size: 0.75em;
    }

    .sidebar.closed .nav-link i {
        font-size: 1.5em;
    }
}


/* MAIN */

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 260px);
}

.sidebar.closed .main-content {
    width: calc(100% - 70px);
}

.main-header {
    padding: 20px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 0 10px rgba(99, 107, 115, 0.2);
    border-bottom: 1px solid #636B73;
    font-size: 12px;
    font-weight: 300;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #CDBBB0;
}

.user-info {
    text-align: right;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    color: #ffffff;
}

.user-info h2 {
    font-size: 14px;
    font-weight: 500;
}

.content-area {
    padding: 30px;
    height: calc( 100% - ( 100px + 1.5em));
    flex-grow: 1;
    color: #ffffff;
}

.content-area h1 {
    word-spacing: .2em;
    margin-bottom: .8em;
}

.main-container {
    height: calc( 100% - 60px );
    display: flex;
}

.content {
    overflow: hidden;
    height: 100%;
    width: 35%;
    font-weight: 400;
    font-size: 14px;
}

.mini-links {
    color: #000;
    margin-bottom: 1em;
    font-weight: 700;
}

.mini-links span {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 .4em;
}

.mini-links span:first-child {
    margin-left: 0;
}


.items-container {
    height: calc( 100% - 2em);
    overflow: hidden;
    overflow-y: auto;
    padding-right: 1em;
}


.search-box {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #636B73;
    margin-bottom: .5em;
    transition: margin .3s ease;
}

.search-box:hover {
    margin-left: 1em;
}


/* TODO: USER STYLES */

.user-box {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #636B73;
    margin-bottom: .5em;
}


.user-box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.user-box-main img {
    width: 50px;
    height: 50px;
}

.user-box-main h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .3em;
}

.user-box-main p {
    font-size: 12px;
    font-weight: 200;
}


.user-box-data,
.user-box-info div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    gap: .3em;
}

.user-box-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.user-box-info div {
    width: 8em;
}

.user-box-info div i {
    color: #ffff00;
    margin-right: .5em;
}

.user-box .notAvailable {
    color: #ff0000;
}

.user-box .available {
    color: #00ff00;
}


/* TODO: CARD STYLES */

.card {
    height: 100%;
    transition: width .5s ease;
    margin-left: 0;
    max-width: 550px;
    width: 0;
    padding: 0;
    border: 0px solid #636B73;
}

.card.open {
    margin-left: 30px;
    width: 100%;
    padding: 30px;
    border: 1px solid #636B73;
}

.card.open .card-user-info {
    display: block;
}

.card.open .card-buttoms {
    display: flex;
}

.card.open .card-options {
    display: flex;
}


/* USER CARD */

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-options {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 1.5em;
}

.card-options .bx-x-circle {
    font-size: 1.5em;
    cursor: pointer;
    color: #000;
}

.card-options div {
    display: flex;
    gap: .5em;
}

.card-options div i {
    color: #ffff00;
}

.card-options span {
    color: #000;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

.card-user-info {
    display: none;
    overflow: scroll;
}

.card-user-info::-webkit-scrollbar {
    display: none;
}

.card-user-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-bottom: 40px;
    font-size: 14px;
}

.card-user-main img {
    width: 6em;
    height: 6em;
    border: 3px solid #CDBBB0;
}

.card-user-data {
    font-size: 12px;
}

.card-organize {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 20px;
}

.card-user-data h3 {
    margin-top: 20px;
}

.card-buttoms {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.card-buttoms div {
    background: linear-gradient(to bottom, #020837 1%, #6093B1 99%);
    padding: .7em 1.7em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.card-buttoms .remove {
    background: linear-gradient(to bottom, #4E0301 1%, #923F08 99%);
}


/* REVIEW CARD */

.review-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

}

.card-reviews {
    height: 100%;
    overflow: hidden;
}

.review {
    border-bottom: 1px solid #636B73;
    margin-bottom: 1.2em;
    font-size: 12px;
    margin-right: 1.3em;
}

.review-card .bx-arrow-back {
    font-size: 1.5em;
    cursor: pointer;
    color: #000;
}

.review-card h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1.5em;
}

.review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;
}

.review-main-info {
    display: flex;
    align-items: center;
    gap: .3em;
}

.review-main-info p {
    font-size: 14px;
    margin-bottom: .3em;
}

.review-main-info i {
    color: #ffff00;
}

.review p:last-child {
    margin-bottom: 1em;
}

.card-user-reviews {
    height: 78%;
    overflow: hidden;
}

.card-reviews-container {
    height: calc( 100% - 2.3em );
    overflow: auto;
}

@media (max-width: 1350px) {

    .content {
        width: 40%;
    }

    .card {
        max-width: 500px;
    }

}

@media (max-width: 1250px) {

    .content {
        width: 40%;
    }

    .card {
        max-width: 450px;
    }

}

@media (max-width: 1115px) {

    .content {
        width: 50%;
    }

    .card {
        max-width: 350px;
    }

}


@media (max-width: 1050px) {

    .content {
        width: 100%;
    }

    .content.card {
        max-width: 0;
        padding: 0;
        margin: 0;
        border: none;
    }

    .content.card.open {
        height: 100%;
        transition: width .5s ease;
        margin-left: 0;
        max-width: 100%;
        padding: 0;
        border: 0px solid #636B73;
    }

}


@media (max-width: 768px) {


    .main-content {
        width: 100%;
        margin-bottom: 60px;
        margin-top: 0;
    }

    .items-container {
        height: calc( 100% - 140px );
        padding: 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .content.card.open {
        top: 70px;
        left: 0;
        width: 100%;
        position: absolute;
        padding: 30px;
        height: calc( 100vh - 170px );
    }

    .card-buttoms div {
        flex: 3;
        font-size: 12px;
    }



}