
/* GLOBAL & MAIN STYLES */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    border-radius: 2px;
    background: #636B73;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #6093B1;
    border-radius: 2px;
}

body {
    font-family: "Inter", serif;
    background: linear-gradient(to bottom, #636B73 1%, #BABBC5 99%);
}

.dashboard {
    display: flex;
    height: 100vh;
}


/* SIDEBAR */

.sidebar {
    width: 260px;
    height: 100vh;
    background: linear-gradient(to bottom, #636B73 1%, #BABBC5 99%);
    box-shadow: 5px 0 10px rgba(99, 107, 115, 0.2);
    border-right: 1px solid #636B73;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    position: relative;
    z-index: 10;
    padding: 15px;
    font-size: 12px;
}

.sidebar.closed {
    width: 70px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#sidebar-close {
    position: absolute;
    right: -1em;
    top: calc(45px - 1.5em);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6093B1;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: #ffffff;
}

.sidebar-nav {
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar-nav ul {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 3.2em;
    padding: .8em;
    border-radius: 8px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-link {
    margin-bottom: .5em;
}

.nav-link:hover {
    background-color: #6093B1;
    color: #ffffff;
}

.active {
    background-color: #6093B1;
    color: #ffffff;
}

.active .count {
    background: #ffffff;
    color: #000;
}

.nav-link:hover .count {
    background: #ffffff;
    color: #000;
}

.nav-link span {
    margin-left: 10px;
    margin-right: auto;
}

.nav-link i {
    font-size: 1.2em;
}

.count {
    background-color: #6093B1;
    color: #ffffff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 0.8em;
    margin-right: 0 !important;
}

.submenu-arrow {
    font-size: 1.5em !important;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.submenu-arrow.open {
    transform: rotate(180deg);
}

.has-submenu {
    margin-bottom: 0;
}

.submenu {
    margin-top: 5px;
    margin-left: 15px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.submenu.open {
    margin-bottom: 5px;
    max-height: 1000px;
    opacity: 1;
}

.submenu li {
    position: relative;
    padding-left: 15px;
}

.submenu li span {
    margin-left: 0;
}

.submenu li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #000;
}

.submenu li:last-child::before {
    height: 50%;
}

.submenu li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 6px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 10px;
    transform: translateY(-50%);
}

.sidebar-footer {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #636B73;
    border-radius: 8px;
    height: 3.2em;
    padding: .2em;
    gap: .2em;
}

.theme-toggle {
    font-size: 12px;
    background: transparent;
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.theme-toggle.active {
    background: #6093B1;
}

.theme-toggle i {
    font-size: 16px;
    margin-right: 5px;
}

.sidebar.closed .sidebar-nav span,
.sidebar.closed .sidebar-footer span,
.sidebar.closed .count {
    display: none;
}

.sidebar.closed .has-submenu {
    margin-bottom: .5em;
}

.sidebar.closed .nav-link {
    justify-content: center;
}

.sidebar.closed .submenu {
    display: none;
}

.sidebar.closed .sidebar-footer {
    overflow: hidden !important;
}

.sidebar.closed .theme-toggle {
    display: none;
}

.sidebar.closed .theme-toggle.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar.closed .theme-toggle.active i {
    margin: 0;
}

.floating-submenu {
    border-radius: 12px;
    position: fixed;
    left: 15px;
    top: 150px;
    background: linear-gradient(to bottom, #636B73 1%, #BABBC5 99%);
    box-shadow: 5px 10px 10px 10px rgba(99, 107, 115, 0.2);
    z-index: 10;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease-out, opacity .3s ease-out, top .3s ease-out;
}

.floating-submenu.works {
    top: 180px;
}

.floating-submenu.profile {
    top: 270px;
}

.mt-works {
    margin-top: 115px;
}

.floating-submenu ul {
    list-style: none;
    font-size: 12px;
}

.floating-submenu li {
    border-radius: 8px;
    transition: background-color 0.3s;
}

.floating-submenu.active {
    max-height: 1000px;
    opacity: 1;
}

.floating-submenu .submenu {
    margin-left: 0;
    max-height: none;
    width: 230px;
    padding: 10px 20px;
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {

    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        padding: 0;
        z-index: 1000;
    }

    .sidebar-header,
    .sidebar-footer,
    #sidebar-close {
        display: none;
    }

    .sidebar-nav {
        height: 100%;
        width: 100vw;
        padding: 0;
    }

    /* .sidebar-nav::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 10px;
        background: #ffffff;
        filter: blur(2px);
        z-index: -1;
    } */

    .sidebar-nav > ul {
        background: #ffffff;
        height: 100%;
        width: 100vw;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .sidebar-nav>ul>li {
        flex: 1;
    }

    .nav-link {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: .8em;
    }

    .nav-link.active {
        background: transparent;
        color: #000;
    }

    .nav-link.active i {
        position: absolute;
        top: -12px;
        background: #6093B1;
        padding: .6em;
        border-radius: 50%;
    }

    .nav-link.active span {
        margin-top: 28px;
        color: #6093B1;
        font-weight: 600;
    }

    .nav-link span {
        text-align: center;
        margin: 0;
    }

    .nav-link:hover {
        background-color: #ffffff;
        color: #000;
    }

    #sidebarLinkSearch,
    #sidebarLinkWorks,
    #sidebarLinkFavorites,
    #sidebarLinkProfile {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submenu-arrow {
        display: none;
    }

    .nav-link i {
        margin: 0 0 4px 0;
        font-size: 2em;
    }

    .count {
        display: none;
    }

    .floating-submenu {
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        max-height: 80vh;
        border-radius: 12px;
        padding: 20px;
    }

    .floating-submenu .submenu {
        width: 100%;
    }

    .floating-submenu .submenu .nav-link {
        align-items: start;
        padding-left: 10px;
    }

    .floating-submenu .submenu {
        margin: 0;
        padding: 10px;
    }

    .sidebar.closed {
        width: 100%;
    }

    .sidebar.closed .nav-link span {
        display: block;
        font-size: 0.75em;
    }

    .sidebar.closed .nav-link i {
        font-size: 1.5em;
    }
}


/* MAIN */

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 260px);
}

.sidebar.closed .main-content {
    width: calc(100% - 70px);
}

.main-header {
    padding: 20px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 0 10px rgba(99, 107, 115, 0.2);
    border-bottom: 1px solid #636B73;
    font-size: 12px;
    font-weight: 300;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #CDBBB0;
}

.user-info {
    text-align: right;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    color: #ffffff;
}

.user-info h2 {
    font-size: 14px;
    font-weight: 500;
}

.content-area {
    padding: 30px;
    height: calc( 100% - ( 100px + 1.5em));
    flex-grow: 1;
    color: #ffffff;
}

.content-area h1 {
    word-spacing: .2em;
    margin-bottom: .8em;
}

.main-container {
    height: calc( 100% - 60px );
    display: flex;
}

.content {
    overflow: hidden;
    height: 100%;
    width: 35%;
    font-weight: 400;
    font-size: 14px;
}

.mini-links {
    color: #000;
    margin-bottom: 1em;
    font-weight: 700;
}

.mini-links span {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 .4em;
}

.mini-links span:first-child {
    margin-left: 0;
}


.items-container {
    height: calc( 100% - 2em);
    overflow: hidden;
    overflow-y: auto;
    padding-right: 1em;
}


.search-box {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #636B73;
    margin-bottom: .5em;
    transition: margin .3s ease;
}

.search-box:hover {
    margin-left: 1em;
}


/* TODO: USER STYLES */

.user-box {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #636B73;
    margin-bottom: .5em;
    transition: margin .3s ease;
}

.user-box:hover {
    margin-left: 1em;
}

.user-box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.user-box-main img {
    width: 50px;
    height: 50px;
}

.user-box-main h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .3em;
}

.user-box-main p {
    font-size: 12px;
    font-weight: 200;
}


.user-box-data,
.user-box-info div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    gap: .3em;
}

.user-box-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.user-box-info div {
    width: 8em;
}

.user-box-info div i {
    color: #ffff00;
    margin-right: .5em;
}

.user-box .notAvailable {
    color: #ff0000;
}

.user-box .available {
    color: #00ff00;
}

.user-chat-ago {
    height: 45px;
    width: 8em;
    display: flex;
    align-items: flex-start;
    font-size: 10px;
    justify-content: end;
}


/* TODO: CARD STYLES */

.card {
    height: 100%;
    transition: width .5s ease;
    margin-left: 0;
    max-width: 550px;
    width: 0;
    padding: 0;
    border: 0px solid #636B73;
}

.card.open {
    margin-left: 30px;
    width: 100%;
    padding: 30px;
    border: 1px solid #636B73;
}

.card.open .card-user-info {
    display: block;
}

.card.open .card-buttoms {
    display: flex;
}

.card.open .card-options {
    display: flex;
}


/* USER CARD */

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-options {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 1.5em;
}

.card-options .bx-x-circle {
    font-size: 1.5em;
    cursor: pointer;
    color: #000;
}

.card-options div {
    display: flex;
    gap: .5em;
}

.card-options div i {
    color: #ffff00;
}

.card-options span {
    color: #000;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

.card-user-info {
    display: none;
    overflow: scroll;
}

.card-user-info::-webkit-scrollbar {
    display: none;
}

.card-user-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-bottom: 40px;
    font-size: 14px;
}

.card-user-main img {
    width: 6em;
    height: 6em;
    border: 3px solid #CDBBB0;
}

.card-user-data {
    font-size: 12px;
}

.card-organize {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 20px;
}

.card-user-data h3 {
    margin-top: 20px;
}

.card-buttoms {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.card-buttoms div {
    background: linear-gradient(to bottom, #020837 1%, #6093B1 99%);
    padding: .7em 1.7em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.card-buttoms .remove {
    background: linear-gradient(to bottom, #4E0301 1%, #923F08 99%);
}


/* REVIEW CARD */

.review-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

}

.card-reviews {
    height: 100%;
    overflow: hidden;
}

.review {
    border-bottom: 1px solid #636B73;
    margin-bottom: 1.2em;
    font-size: 12px;
    margin-right: 1.3em;
}

.review-card .bx-arrow-back {
    font-size: 1.5em;
    cursor: pointer;
    color: #000;
}

.review-card h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1.5em;
}

.review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;
}

.review-main-info {
    display: flex;
    align-items: center;
    gap: .3em;
}

.review-main-info p {
    font-size: 14px;
    margin-bottom: .3em;
}

.review-main-info i {
    color: #ffff00;
}

.review p:last-child {
    margin-bottom: 1em;
}

.card-user-reviews {
    height: 78%;
    overflow: hidden;
}

.card-reviews-container {
    height: calc( 100% - 2.3em );
    overflow: auto;
}


/* CARD CHAT */

.card.card.open {
    padding: 20px;
    position: relative;
}

.card-chat-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: .5em;
    border-bottom: 1px solid #636B73;
    margin-bottom: .3em;
}

.card-chat-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.card-chat-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8em;
}

.card-chat-buttons div {
    background: linear-gradient(to bottom, #020837 1%, #6093B1 99%);
    padding: .5em 1.5em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
}

.card-chat-buttons .negativeBtn {
    background: linear-gradient(to bottom, #4E0301 1%, #923F08 99%);
    
}

.card-chat-header p {
    margin-bottom: .5em;
}

.card-data-entry {
    padding-top: 15px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    border-top: 1px solid #636B73;
    margin-top: .5em;
}

.file-upload-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.file-upload-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.file-upload-wrapper label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 27px;
    color: black;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}


.file-upload-wrapper label i {
    vertical-align: middle;
    cursor: pointer;
}

.data-entry-chatbox {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    border-radius: 10px;
    background-color: #fff;
    margin-left: .5em;
    height: 30px;
}

.data-entry-chatbox textarea {
    padding: 0px 15px;
    box-sizing: border-box;
    position: absolute;
    flex-grow: 1;
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 5px;
    font-family: "Inter", serif;
    transition: height 0.2s ease;
}

.bxs-send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 7px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.card-chat-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start; 
    height: 100%;
    overflow-y: auto; 
}

.card-chat-container::-webkit-scrollbar {
    margin-right: 10px;
}


.chat-element {
    font-size: 12px;
    margin-top: .6em;
    padding: .5em .8em;
    background: #6093B160;
    align-self: flex-end;
    margin-right: 1em;
    border-radius: 8px 0 8px 8px;
    opacity: 1; /* ScrollReveal ajustará esto */
    transform: none; /* ScrollReveal lo cambiará al iniciar la animación */
}

.chat-element.outro {
    align-self: flex-start;
    background: #636B7360;
    border-radius: 0px 8px 8px 8px;
}


/* MENU CARD */
.menu-card {
    position: absolute;
    z-index: 100;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #636B73d0 1%, #BABBC5d0 99%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 0.45s ease;
}

.menu-card.openCard {
    top: 0;
}

.normal-container {
    background: #636B73;
    width: 50%;
    height: auto;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: .5em;
}

.normal-container p {
    padding: 0 2em;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1em 0 .5em 0;
    position: relative;
}

.normal-container p.center {
    justify-content: center;
}

.normal-container .border-bottom {
    margin-bottom: .8em;
}

.normal-container .border-bottom::before {
    content: '';
    position: absolute;
    bottom: -.8em;
    left: 50%;
    width: 85%;
    height: 1px;
    background-color: #474b50;
    transform: translateX(-50%);
}

.normal-container div {
    color: #000;
    font-weight: 500;
    position: relative;
    width: 100%;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.normal-container div:nth-of-type(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 1px;
    background-color: #474b50;
    transform: translateX(-50%);
}

.normal-container p {
    font-size: 10px;    
}

.menu-card-cancel {
    color: #000;
    font-weight: 500;
    background: #636B73;
    width: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 3.5em;
    cursor: pointer;
}

.menu-back-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-card-back {
    width: 100%;
    color: #000;
    font-size: 16px;
}

.menu-card-back .bx-arrow-back,
.menu-card-back .bx-x-circle {
    cursor: pointer;
}

.menu-card-back .bx-x-circle {
    font-size: 20px;
}

.menu-card-selects {
    width: 100%;
    background: #636B73;
    font-size: 12px;
    padding: 2em;
    border-radius: 8px;
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.menu-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-family: "Inter", serif;
    position: relative;
}

.custom-select {
    width: 100%;
    padding: 0; 
    background: none;
    border: none;
    color: black;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

.custom-select option {
    background: #474b50;
    color: #fff;
    margin-left: 10px;
}
  
.flecha {
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 15px;
    color: black;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.menu-button {
    background: linear-gradient(to bottom, #020837 1%, #6093B1 99%);
    padding: .7em 3em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 12px;
    margin-top: .8em;
}


.menu-card-review {
    height: auto !important;
    width: 100%;
    padding: 0 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-card-container-basic {
    width: 100%;
    background: #636B73;
    border-radius: 8px;
    font-size: 14px;
    padding: 1.4em;
    margin-top: .6em;
}

.menu-card-container-basic p {
    margin-bottom: .3em;
}

.menu-card-container-basic input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #474b50;
    color: white;
    background: transparent;
    outline: none;
    padding: .3em 0;
    font-family: "Inter", serif;
    font-size: 12px;
}


.menu-card-container-basic .menu-back-address {
    height: 2em;
}

.noCursor div::before {
    content: '';
    display: none;
}

.noCursor div {
    cursor: auto;
    height: auto;
}

.review-note {
    margin-top: 1em;
    font-size: 12px;
}

.review-note h3 {
    font-weight: 500;
}

.review-note i {
    color: #ffff00;
    margin-left: .5em;
}

.menu-range {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.menu-range img {
    width: 10em;
    height: 10em;
}

.menu-range input {
    display: block;
}

input[type="range"] {
    -webkit-appearance: none;
    border-radius: 1.5px;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, #5DB6FF 0%, #5DB6FF 50%, #474b50 50%, #474b50 100%);
    outline: none;
    opacity: 0.7;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.range0::-webkit-slider-thumb {background: #FF5D5D}
.range25::-webkit-slider-thumb {background: #BE5DFF}
.range50::-webkit-slider-thumb {background: #5DB6FF}
.range75::-webkit-slider-thumb {background: #83FF5D}
.range100::-webkit-slider-thumb {background: #FFD05D}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #474b50;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]:hover {
    opacity: 1;
}

.menu-textarea {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.menu-textarea p {
    margin-top: 1em !important;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    margin-bottom: .3em;
    font-size: 12px;
    margin-left: auto !important;
}

.menu-textarea textarea {
    width: 100%;
    border: .5px solid #474b50;
    background: transparent;
    outline: none;
    resize: none;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    overflow: auto;
    height: 5em;
    font-family: "Inter", serif;
    transition: height 0.2s ease;
}

.menu-card-calendar {
    height: auto;
    width: 100%;
}

.compact {
    font-size: 10px;
    gap: 1em;
}


.menu-card-calendar {
    width: 100%;
    height: auto;
}

.calendar {
    background-color: #1a1a1a;
    color: white;
    padding: 2em 1.5em;
    border-radius: 10px;
    font-family: "Inter", serif;
    font-size: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.month-year {
    font-size: 1.2em;
}

.nav-buttons button {
    background: transparent;
    border: none;
    color: #3b82f6;
    font-size: 1em;
    cursor: pointer;
    padding: 2px 5px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 5px;
    color: #666;
    font-size: 8px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.days div {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.days div:hover:not(.disabled) {
    background-color: #3b82f6;
}

.days .selected {
    background-color: #3b82f6;
}

.days .disabled {
    color: #666;
    cursor: not-allowed;
}

.time-picker {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#time-input {
    background-color: #333;
    color: white;
    border: none;
    padding: .3em 0 .3em 1em;
    border-radius: 5px;
    font-size: 10px;
}

.card-chat-container {
    overflow-x: hidden;
}

.small-card-options {
    margin-bottom: 0;
    position: absolute;
}

.blackP {
    color: #000;
    font-weight: 400 !important;
}

.noMarginLeft {
    margin-left: 0 !important;
    justify-content: flex-start;
    align-items: center;
    padding: 3em !important;
}

.noMarginLeft img {
    width: 7em;
    height: 7em;
}

.user-profile-data-info {
    display: flex;
    width: 100%;
    padding: .7em 0;
    border-bottom: 1px solid #474b50;
    margin-top: 1em;
    cursor: pointer;
    transition: margin-left .3s ease;
    font-size: 14px;
}


.user-profile-data-info p {
    width: 30%;
}

.user-profile-data-info i {
    width: 10%;
}

.user-profile-data-info span {
    width: 100%;
}

.user-profile-data-info:hover {
    margin-left: 2em;
}

.noHoverEfect:hover {
    margin-left: 0em;
}

.user-card-img-change {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1em;
    margin-bottom: 1em;   
}

.user-card-img-change p {
    cursor: pointer;
}

.custom-file-input {
    margin-top: .3em;
    width: 100%;
    height: 2em;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: .4em;
}

.custom-file-input::before {
    border-radius: .4em;
    font-size: 12px;
    font-family: "Inter", serif;
    content: 'Upload file';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #020837;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.work-card {
    font-size: 12px;
    
}

.work-card-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-bottom: 1px solid #474b50;
    gap: 1.5em;
}

.work-card-breakdow {
    padding: 4em 4em .4em 4em;
    border-bottom: 1px solid #474b50;
}

.work-card-breakdow h3 {
    margin-bottom: 1em;
} 

.card-breakdown-prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prices-toRight {
    text-align: right;
}

.work-card-options {
    margin-top: .4em;
    padding: 0 4em;
}

.work-total {
    display: flex;
    justify-content: space-between;
}

.work-options {
    margin-top: 2.5em;
}

.option-item-work {
    display: flex;
    gap: .5em;
    transition: right .3s ease;
    margin-bottom: 1em;
}

.option-item-work div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #474b50;
}

.option-item-work div .bx-chevron-right {
    font-size: 18px;
}




@media (max-width: 1350px) {

    .content {
        width: 40%;
    }

    .card {
        max-width: 500px;
    }

    .normal-container,
    .menu-card-cancel,
    .menu-back-container {
        width: 50%;
    }

}

@media (max-width: 1250px) {

    .content {
        width: 40%;
    }

    .card {
        max-width: 450px;
    }

    .calendar-container {
        width: 60%;
    }

}

@media (max-width: 1115px) {

    .content {
        width: 50%;
    }

    .card {
        max-width: 350px;
    }

    .normal-container,
    .menu-card-cancel,
    .menu-back-container {
        width: 60%;
    }

    .calendar-container {
        width: 70%;
    }

}


@media (max-width: 1050px) {

    .content {
        width: 100%;
    }

    .content.card {
        max-width: 0;
        padding: 0;
        margin: 0;
        border: none;
    }

    .content.card.open {
        height: 100%;
        transition: width .5s ease;
        margin-left: 0;
        max-width: 100%;
        padding: 0;
        border: 0px solid #636B73;
    }

    .normal-container,
    .menu-card-cancel,
    .menu-back-container {
        width: 80%;
    }

    .calendar-container {
        width: 90%;
    }

}


@media (max-width: 768px) {

    .main-content {
        width: 100%;
        margin-bottom: 60px;
        margin-top: 0;
    }

    .items-container {
        height: calc( 100% - 140px );
        padding: 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .content.card.open {
        top: 70px;
        left: 0;
        width: 100%;
        position: absolute;
        padding: 30px;
        height: calc( 100vh - 170px );
    }

    .card-buttoms div {
        flex: 3;
        font-size: 12px;
    }

    .normal-container,
    .menu-card-cancel,
    .menu-back-container {
        width: 60%;
    }

    .calendar-container {
        width: 60%;
    }

    .noMarginLeft {
        margin-top: 5em !important;
    }

}

@media (max-width: 380px) {

    .calendar-container {
        width: 70%;
    }

}


